<html>
    <body>
        <form method="post"  align="middle" id="frm_login" >
            <p> <input type="text" id="usr" name="Email"  placeholder="Usuario o Email"></p>
            <p><input type="password" id="password" name="Password" placeholder="Contraseña"></p>
            <p>
                <a href="{{ url('registro') }}">
                    Nuevo Registro
                </a>
            <p>
                <input id="btn_login" type="submit" name="commit" value="Login">
        </form>
    </body>
    <script src="{{asset('public/js/jquery-1.11.3.min.js')}}"></script>
   <script type="text/javascript">
    $('#btn_login').click(function () {
        var data = $("#frm_login").serialize();
        var URL = "{{path('consulta')}}";
        console.log(data);
        $.ajax({
            type: "POST",
            url: URL,
            data: {data},
            success: function (data)
            {
                $("#resultado").html(data);
            }
        });
        return false;
    });
</script>
</html>