<html>
    <body>
<div align="center" >
    <form method="post" id="frm_registro"  >
       {# <p>        id  <input type="text" name="_id_Visitante" placeholder="id del visitante"></p>#}
        <p>    Nombre  <input type="text" name="Nombre"  placeholder="Nombre Visitante"></p>
        <p>Apellido P.  <input type="text" name="ApellidoPaterno"  placeholder="Apellido Paterno"></p>
        <p>Apellido M.  <input type="text" name="ApellidoMaterno"  placeholder="Apellido Materno"></p>
        <p>    E-mail  <input type="text" name="Email"  placeholder=" Email Visitante"></p>
        <p>  Password  <input type="password" name="Password" value="" placeholder="Password"></p>
        <p>     Cargo  <input type="text" name="DE_Cargo" value="" placeholder="Cargo Visitante"></p>
        <p>Razón Social<input type="text" name="DE_Razon_Social" value="" placeholder="Razón Social"></p>
        <input type="submit" name="commit" value="Registrar" id="btn_registrar">
        <input type="submit" name="commit" value="Cancelar">
        
    </form>
</div>
<script src="{{asset('public/js/jquery-1.11.3.min.js')}}"></script>
   <script type="text/javascript">
    $('#btn_registrar').click(function () {
        var data = $("#frm_registro").serialize();
        var URL = "{{path('registrar')}}";
        console.log(data);
        $.ajax({
            type: "POST",
            url: URL,
            data: {data},
            success: function (data)
            {
               alert("Registro Exitoso");
            }
        });
        return false;
    });
</script>
</html>